.App {
    text-align: center;
    font: normal 16px/normal "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}


.App-header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
}

.App-intro {
    font-size: large;
}


.unstyledList{
    list-style: none;
}

.css_btn_class {
    font-size:18px;
    font-family:Arial;
    font-weight:normal;
    -moz-border-radius:8px;
    -webkit-border-radius:8px;
    border-radius:8px;
    border:1px solid #268a16;
    padding:9px 18px;
    text-decoration:none;
    background:-moz-linear-gradient( center top, #77d42a 5%, #5cb811 100% );
    background:-ms-linear-gradient( top, #77d42a 5%, #5cb811 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#77d42a', endColorstr='#5cb811');
    background:-webkit-gradient( linear, left top, left bottom, color-stop(5%, #77d42a), color-stop(100%, #5cb811) );
    background-color:#77d42a;
    color:#306108;
    display:inline-block;
    text-shadow:1px 1px 0px #aade7c;
    -webkit-box-shadow:inset 1px 1px 0px 0px #caefab;
    -moz-box-shadow:inset 1px 1px 0px 0px #caefab;
    box-shadow:inset 1px 1px 0px 0px #caefab;
}
.css_btn_class:hover {
    background:-moz-linear-gradient( center top, #5cb811 5%, #77d42a 100% );
    background:-ms-linear-gradient( top, #5cb811 5%, #77d42a 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#5cb811', endColorstr='#77d42a');
    background:-webkit-gradient( linear, left top, left bottom, color-stop(5%, #5cb811), color-stop(100%, #77d42a) );
    background-color:#5cb811;
}
.css_btn_class:active {
    position:relative;
    top:1px;
}
/* This css button was generated by css-button-generator.com */

.strike {
    text-decoration: line-through;
    color:#F00000;
}

.textin {
    display: inline-block;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    padding: 10px 20px;
    border: 1px solid #b7b7b7;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    font: normal 16px/normal "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    color: rgba(0,142,198,1);
    -o-text-overflow: clip;
    text-overflow: clip;
    background: rgba(252,252,252,1);
    -webkit-box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) inset;
    box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) inset;
    text-shadow: 1px 1px 0 rgba(255,255,255,0.66) ;
    -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
}

@keyframes App-logo-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}